# Java / Maven
backend-springboot/target/
backend-springboot/.idea/
*.class
*.jar
*.war

# Secrets locales
backend-springboot/application-local.properties
**/application-local.properties

# Node
node_modules/
frontend-react/node_modules/
frontend-react/build/
frontend-react/.env
frontend-react/.env.local
frontend-react/cypress/videos/
frontend-react/cypress/screenshots/
frontend-react/cypress/reports/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.pyc
